@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #000;
}

/* ------- danish-logo-at-top-left-of-app ------- */
@media screen and (max-width: 767px) {
  .danish-logo-bold-image {
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .danish-logo-bold-image {
    width: 180px;
  }
}
/* --------------------------------------------- */

/* boxed-pattern-background */
.main-home-landing-page-section {
  min-height: 100vh;
  background-color: #000;
  opacity: 1;
  background-image: linear-gradient(#3a3a3a 0.1px, transparent 1px),
    linear-gradient(to right, #3a3a3a 0.1px, #000 1px);
  background-size: 60px 60px;
  border: 0px;
  z-index: 1;
  position: relative;
}

/* dark-overlay-top */
.main-home-landing-page-section::before {
  content: "";
  height: 30%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 2;
}

/* dark-overlay-bottom */
.main-home-landing-page-section::after {
  content: "";
  height: 30%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}

/* dark-overlay-left */
.dark-overlay-left {
  content: "";
  height: 100vh;
  width: 5%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}

/* dark-overlay-right */
.dark-overlay-right {
  content: "";
  height: 100vh;
  width: 5%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}

/* ----------- intro text animation ------------- */
.intro-text-block p span {
  opacity: 0;
  animation: reveal-text 0.4s ease forwards;
}

.intro-text-block > p:nth-child(1) > span:nth-child(1) {
  animation-delay: 0.4s;
}
.intro-text-block > p:nth-child(1) > span:nth-child(2) {
  animation-delay: 0.6s;
}
.intro-text-block > p:nth-child(2) > span:nth-child(1) {
  animation-delay: 0.8s;
}
.intro-text-block > p:nth-child(2) > span:nth-child(2) {
  animation-delay: 1s;
}
.intro-text-block > p:nth-child(2) > span:nth-child(3) {
  animation-delay: 1.2s;
}
.intro-text-block > p:nth-child(2) > span:nth-child(4) {
  animation-delay: 1.4s;
}
.intro-text-block > p:nth-child(2) > span:nth-child(5) {
  animation-delay: 1.6s;
}

@keyframes reveal-text {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  25% {
    opacity: 0.25;
    filter: blur(7.5px);
  }
  50% {
    opacity: 0.5;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
/* --------------------------------------------- */

/* ------- see-my-work button animations ------- */
.see-my-work-button::before {
  content: "";
  background-color: #fff;
  filter: blur(10px);
  transform: skew(-20deg);
  height: 100%;
  width: 2px;
  position: absolute;
  left: -100%;
  inset-block: 0;
  animation: shine 4s ease-in-out infinite;
  animation-delay: 1.25s;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  50% {
    left: 130%;
  }
  100% {
    left: 130%;
  }
}
/* --------------------------------------------- */

/* ------ button hover color transitions ------- */
.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------------------------------------------- */
